/* *general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.black{
  background-color: black;
}

.gray{
  background-color: #3F4442;
}

/* *start body */
body{
  height: 800px;
  background-color:#ED7F65 ;
}
/* *end body */


/* *start container */

.container{
  width: 800px;
  height: 800px;
  margin: 10px auto;
  position: relative;
}
/* *end container */



/* *start Bob body */

.bob_body{
  position: relative;
  background-color: #FFEE3F;
  width: 300px;
  height: 550px;
  left: 250px;
  top: 100px;
  border-top-left-radius: 600px;
  border-top-right-radius: 600px;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px ;
  z-index: 2;
}

/* *start face */

.sticks{
  position: absolute;
  top: 140px;
  left: -10px;

}

.glasess_stick{
  width:320px ;
  height: 12px;
  border-radius: 5px;
  margin: auto;
}

.right_eye{
  position: absolute;
  width: 132px;
  height: 132px;
  background-color:#DEBF3B;
  border-radius: 50%;
  border: 10px solid #E0DFDD;
  top: 83px;
  left: 6.5%;
  z-index: 2;
  -webkit-box-shadow: 1px 0px 1px rgb(253, 253, 253);
  -moz-box-shadow:    1px 0px 1px rgb(253, 253, 253);
  box-shadow:         1px 0px 1px rgb(253, 253, 253)
}

.left_eye{
  position: absolute;
  width: 132px;
  height: 132px;
  background-color:#DEBF3B;
  border-radius: 50%;
  border: 10px solid #E0DFDD;
  top: 83px;
  right: 7%;
}

.eye_whites{
  position: absolute;
  width: 112px;
  height: 82px;
  background-color: #fff;
  top: 16px;
  border-radius: 40px;
}

.pupil{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color:#6F502B;
  border-radius: 50%;
  top: 34px;
}

.pupil::before{
  content: "";
  width: 9px;
  height: 9px;
  background-color: #fff;
  position: absolute;
  left:17px;
  top: 8px;
  border-radius: 50%;
  z-index: 2;
}

.pupil::after{
  content: "";
  width: 14px;
  height: 14px;
  background-color:  rgb(51, 43, 33);
  position: absolute;
  left:13px;
  top: 9px;
  border-radius: 50%;
  z-index: 1;
}

.right_eye .pupil{
  right: 18px;
}

.left_eye .pupil{
  left: 18px;
}

/* *end face */

/* *start mouth */

.mouth{
  position: absolute;
  width: 153px;
  height: 90px;
  top: 42%;
  left: 25%;
}

.upper_lip{
  position: absolute;
  width: 150px;
  height: 21px;
  background-color:#FFEE3F;
  border-bottom-left-radius: 13PX;
  border-bottom-right-radius: 13PX;
  z-index: 2;
}

.tooth1{
  position: absolute;
  width: 21px;
  height: 15px;
  background-color: #fff;
  top: 15%;
  right: 22.5%;
  z-index: 1;
  border-radius: 50%;;
  transform: rotateZ(36deg);
}

.tooth2{
  position: absolute;
  width: 22px;
  height: 25px;
  top: 15%;
  left: 35.7%;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.tooth3{
  position: absolute;
  width: 23px;
  height: 25px;
  top: 15%;
  right: 35.7%;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.tooth4{
  position: absolute;
  width: 21px;
  height: 15px;
  top: 15%;
  left: 22.5%;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;;
  transform: rotateZ(-36deg);
  
}

.lower_lip{
  position: absolute;
  width: 145px;
  height: 40px;
  top: 10px;
  left: 3px;
  background-color: #64391C;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}
/* *end mouth */

/* *start trouser */

.trouser{
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0px;
}

.right_tape{
  position: absolute;
  width: 20px;
  height: 112px;
  background-color: #214265;
  right: 12%;
  top: -45px;
  z-index: 3;
  transform: rotate(63deg);
}

.right_tape::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 2px;
  left: 12%;
  border-radius: 100%;
  background-color: #000;
  z-index: 4;

}

.left_tape{
  position: absolute;
  width: 20px;
  height: 112px;
  background-color: #214265;
  left: 12%;
  top: -45px;
  z-index: 3;
  transform: rotate(-63deg);
}

.left_tape::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 2px;
  left: 12%;
  border-radius: 100%;
  background-color: #000;
  z-index: 4;

}
.middle_section{
  position: absolute;
  width: 150px;
  height: 200px;
  top: 11%;
  left: 25.6%;
  z-index: 2;
  background-color: #2B5B88;
}

.middle_section .pocket{
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #214265;
  left: 40px;
  top: 70px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.bottom_section{
  position: absolute;
  width:300px;
  height: 120px;
  bottom: 0px;
  background-color: #2B5B88;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius:100px;
  z-index: 1;
}

/* *end trouser */

/* *start legs */

.legs{
  position: absolute;
  width: 170px;
  height: 113px;
  bottom: 50px;
  left: 39%;
  z-index: 1;
}

.right_leg{
  width: 50%;
}

.right_leg .lap{
  position: absolute;
  width: 80px;
  height: 60px;
  background-color: #214265;
  right: 0px;
  border-bottom-right-radius: 81%;
  z-index: 2;
}

.right_leg .shoe{
  position: absolute;
  width: 80px;
  height: 40px;
  bottom: 30px;
  right: -5px;
  border-top-right-radius: 80%;
}

.right_leg .under_shoe{
  position: absolute;
  width: 85px;
  height: 7px;
  bottom: 23px;
  right: -7px;
  border-radius: 5px;
}

.left_leg .lap{
  position: absolute;
  width: 80px;
  height: 60px;
  background-color: #214265;
  left: 0px;
  border-bottom-left-radius: 81%;
  z-index: 2;
}

.left_leg .shoe{
  position: absolute;
  width: 80px;
  height: 40px;
  bottom: 25px;
  left: -5px;
  border-top-left-radius: 70%;
}

.left_leg .under_shoe{
  position: absolute;
  width: 85px;
  height: 7px;
  bottom: 23px;
  left: -7px;
  border-radius: 5px;
}

/* *end legs */

/* *start arms */


.right_arm{
  position: absolute;
  width: 27px;
  height: 210px;
  right: 28%;
  bottom: 170px;
  background-color: #E5BE37;
  border-top-right-radius: 100px;
  transform-origin:  0px 4px;
  transform: rotate(-1deg);
}

.right_arm .glove{
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: -50px;
  left: -25px;
}

.right_arm .glove .upper_section{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #3F4442;
}

.right_arm .glove .lower_section{
  position: absolute;
  width: 30px;
  height: 40px;
  top: 20px;
  left: 25px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 2;
}

.right_arm .glove .finger1{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -5px;
  left: 10px;
  background-color: rgb(52, 58, 56);
  border-radius: 100px;
  z-index: 1;
}

.right_arm .glove .finger2{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 6px;
  left: 2.4px;
  border-radius: 100px;
  z-index: -1;
}

.right_arm .glove .finger3{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 16px;
  left: 6px;
  border-radius: 100px;
  z-index: -2;
}
.left_arm{
  position: absolute;
  width: 27px;
  height: 210px;
  left: 28%;
  bottom: 170px;
  background-color: #E5BE37;
  border-top-left-radius: 100px;
  transform-origin:  0px 4px;
  transform: rotate(1deg);
}

.left_arm .glove{
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: -50px;
  right: -25px;
}

.left_arm .glove .upper_section{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #3F4442;
}

.left_arm .glove .lower_section{
  position: absolute;
  width: 30px;
  height: 40px;
  top: 20px;
  left: 25px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 2;
}

.left_arm .glove .finger1{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -5px;
  right: 10px;
  background-color: rgb(52, 58, 56);
  border-radius: 100px;
  z-index: 1;
}

.left_arm .glove .finger2{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 6px;
  right: 2.4px;
  border-radius: 100px;
  z-index: -1;
}

.left_arm .glove .finger3{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 16px;
  right: 6px;
  border-radius: 100px;
  z-index: -2;
}

/* *end arms */

/* *end Bob body */

